.home-wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  h1 {
    font-size: 20px;
  }

  .home-buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

    a {
      text-decoration: none;
      color: black;
      transition: 0.3% ease-in-out;
    }
    a:hover {
      color: blue;
    }
  